doctype 5
html(lang="en")
  head
    meta(charset="utf8")
    title SoundLab
    meta(name="author", content="Geoff Kimball")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    a(id="play", href="#") Play
    span &nbsp;-&nbsp;
    a(id="pause", href="#") Pause
    div
      span Time:&nbsp;
      span(id="song-time") 0
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="/public/js/soundlab.js", type="text/javascript")
    script(src="/public/js/script.js", type="text/javascript")